body {
  margin: 0px;
  padding: 0px;
  background: coral no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.logo{
  width: 300px;
  height: 150px;
  left: calc(50% - 50px);
}
.login-box {
  width: 390px;
  height: 430px;
  background: rgb(18, 70, 48);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}

.login-box .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.h1{
  position: absolute;
}



  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #3460b1;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #86ca08;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
  }
  
  .login-box a:hover {
    color: #fff;
  }