

<img src="assets/img/logo.png" class="logo" >
<div class="from-group">
  <img src="assets/img/icono.png" class="avatar" alt="Avatar Image">
  <h1>Login </h1>

  <form (submit)="submit()">
    <div class="from-group">
      <label for="username">username</label>
      <input type="text" autocomplete="off" class="form-control" id="username" name="username" required [(ngModel)]="model.username" >
    </div>
    
    <div class="from-group">
      <label for="pascword">pascword</label>
      <input type="=pasword" class="form-control" id="pascword" name="pascword">
    </div>
    
    <button type="submit" class="btn btn-success">Enviar</button>
    <button type="submit" class="btn btn-default">Refrescar</button>
    
    </form> 




  
  
  
    
