<app-departamento1></app-departamento1>
<app-departamento2></app-departamento2>
<app-departamento3></app-departamento3>
<app-departamento4></app-departamento4>
<app-departamento5></app-departamento5>
<app-departamento6></app-departamento6>
<app-departamento7></app-departamento7>
<app-departamento8></app-departamento8>
<app-departamento9></app-departamento9>
<app-departamento10></app-departamento10>
<app-departamento11></app-departamento11>
<app-mantenimiento></app-mantenimiento>
<app-eliminados></app-eliminados>
<app-estables></app-estables>
<app-login></app-login>
<router-outlet></router-outlet>
