<h1>DEPA 4</h1>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>


<button class="btn btn-primary" type="button" routerLink="/home/agregar" >Agregar</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <br>
        
        
        <!-- Position Column -->
        <!-- usuario -->
        <ng-container matColumnDef="responsable">
          <th mat-header-cell *matHeaderCellDef> Responsable</th>
          <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
        </ng-container>
      
       
      
        <!-- Weight Column -->
        <!-- apellido -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <!-- sexo -->
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
        </ng-container>
  


        <ng-container matColumnDef="serie">
          <th mat-header-cell *matHeaderCellDef> Serie </th>
          <td mat-cell *matCellDef="let element"> {{element.serie}} </td>
        </ng-container>


        <ng-container matColumnDef="mac_alambrica">
          <th mat-header-cell *matHeaderCellDef> Mac Address Alambrica </th>
          <td mat-cell *matCellDef="let element"> {{element.mac_alambrica}} </td>
        </ng-container>


        <ng-container matColumnDef="mac_inalambrica">
          <th mat-header-cell *matHeaderCellDef> Mac Address Inalambrica </th>
          <td mat-cell *matCellDef="let element"> {{element.mac_inalambrica}} </td>
        </ng-container>


        <ng-container matColumnDef="ip_alambrica">
          <th mat-header-cell *matHeaderCellDef> IP Alambrica </th>
          <td mat-cell *matCellDef="let element"> {{element.ip_alambrica}} </td>
        </ng-container>



        <ng-container matColumnDef="ip_inalambrica">
          <th mat-header-cell *matHeaderCellDef> Ip Inalambrica</th>
          <td mat-cell *matCellDef="let element"> {{element.ip_inalambrica}} </td>
        </ng-container>


        <ng-container matColumnDef="ordinal">
          <th mat-header-cell *matHeaderCellDef> Ordinal</th>
          <td mat-cell *matCellDef="let element"> {{element.ordinal}} </td>
        </ng-container>


        <ng-container matColumnDef="compra">
          <th mat-header-cell *matHeaderCellDef> Compra del Equipo</th>
          <td mat-cell *matCellDef="let element"> {{element.compra}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado  del Equipo</th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>


        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Observaciones</th>
          <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
        </ng-container>


        <!-- Aqui estan los iconos de eliminar y editar -->
            <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element" style="text-align: right;"> 
                <a class="pointer" style="color:rgb(4, 5, 83) ;" matTooltip="Editar Usuario">
                    <mat-icon>edit</mat-icon>
                </a> 
                <a class="pointer" style="color:rgb(153, 4, 4) ;" matTooltip="Eliminar Usuario">
                    <mat-icon>delete</mat-icon>
                </a> 
            </td>
        
          </ng-container>
      
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  