        <!-- <div class="container">
            <h1>departamento 9</h1>
            <div class="form.group">
                <input 
                type="text"
                class="forms-control"
                placeholder="Buscar..."
                [(ngModel)]="filterPost"
                name="filterPost">
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>FECHA</th>
                </tr>
            </thead>
        <tbody>
            <tr >
                <td>{{Post.id}}</td>
                <td>{{Post.titulo}}</td>
                <td>{{Post.fecha}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
