<!-- </p><a routerLink="/home" class="logo">

    <span class="logo-mini">
      <img src="assets/img/logo.png" class="img-circle" alt="User Image" width="100spx"  >
      

    </span> 
      <span class="logo-lg">
        <img src="assets/img/logo.png" class="img-circle" alt="User Image" width="100px" blur=(5pxs) >
      </span>
    </a>
    
    <nav class="navbar navbar-inverse navbar-static-top">
      <STYLE>a {text-decoration: none;} </STYLE>

      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only"></span>
      </a>
    </nav> -->