<div class="container">
    <h1>departamento 8</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="FilterPost" placeholder="Search..." >
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>titulo</th>
                        <th>fecha</th>
                    </tr>
                </thead>
                <tbody>
                 <tr   >
                        <td>post.id</td>
                        <td>{{post.titulo</td>
                        <td>post.fecha</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
