<p>login works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css/Styles.css">
</head>
<body>
   <div class="login-box">
    <h1>Login</h1>
    <div class="text">
        <img src="persona"/ width="20">
        <input type="text" placeholder="Correo Electronico" name="" value="">
    </div>
    

    <div class="texbox">
        <input type="password" placeholder="Contraseña" name="" value="">
    </div>

    <input class="btn" type="button" name="" value="Entrar">
</body>
</html>