<p></p>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login </title>
    <link rel="stylesheet" href="login.component.css">
    
</head>
  <body>
    <img src="logo.png" class="logo" >
    <div class="login-box">
      <img src="icono.png" class="avatar" alt="Avatar Image">
      <h1>Login </h1>
      <form>
        <label for="username">Correo Electronico</label>
        <input type="text" placeholder="Enter Username">
        <label for="password">Contraseña<a href=""></a></label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Entrar">
       
  </body>
</html>