.main-header{

<<<<<<< HEAD
   color: green;
=======
    color: green;
>>>>>>> b7526cb230c31c9fa4aa4afc1acc44b5ca5c3fde

}

#siderbar .toggle-btn {
    position:absolute;
    left: 230px;
    top: 20px;
    cursor:pointer ;

}
