
 <STYLE type="text/css">
  H1 { text-align: center}
 </STYLE>

 <section class="content-wrapper">
   <div class="DG">
    <h1>Nombre departamento...</h1>
   </div>
  
<table class="table table-success table-striped">
    <thead class="box">
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">COMPUTADORA</th>
          <th scope="col">MARCA</th>
          <th scope="col">MODELO</th>
          <th scope="col">MACADRESS ALAMBRICA</th>
          <th scope="col">N° SERIE</th>
          <th scope="col">IP ALAMBRICA</th>
          <th scope="col">IP INALAMBRICA</th>
          <th scope="col">ORDINAL</th>
          <th scope="col">AÑO DE COMPRA</th>
          <th scope="col">MAC ADRESS INALAMBRICA</th>
          <th scope="col">Handle</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>PEPE</td>
          <td>ESCRITORIO</td>
          <td>LENOVO</td>
          <td>0000</td>
          <td>ThinkCentre</td>
          <td>MJ0117UE</td>
          <td>44-8A-5B-74-8E-8C</td>
          <td>N/A</td>
          <td>172.18.2.61</td>
          <td>N/A</td>
          <td>479387</td>
          <td>2014</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>MDFLKMSF</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
          <td>@twitter</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>jdfhsjhf</td>
         

        </tr>
      </tbody>
  </table>


